

.navbar{
    background-color: rgb(250, 173, 29);
    height: 80px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars{
    margin-left:3rem;   /* change */
    font-size:2rem;    
}

.nav-menu{
    background-color: rgb(180, 179, 185);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top:160px;  /* change */
    transition: all 2s linear;
    left:-100%;
    
}

.nav-menu.active{
    left:0; 
    transition: .35s;
}

.nav-text{
    display:flex;
    justify-content: flex-start;  /* change */
    align-items: center;
    padding: 8px 0 8px 16px;
    color:#fff;
    list-style: none;
    height: 60px; 
}

.nav-text a{
    text-decoration: none;
    color:rgb(38, 38, 104);
    width: 90%;
    font-size:18px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 5px;
}

.nav-text a:hover{
    background-color:rgb(123, 114, 173) ;
}

.nav-menu-items{
    width: 100%;
}

.navbar-toggle{
    background-color:  rgb(180, 179, 185);
    width: 50%;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    color:white;
}

span{
    margin-left:16px;
}